@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #191919;
    --card: #ffffff;
    --card-foreground: #191919;
    --popover: #ffffff;
    --popover-foreground: #191919;
    --primary: #EC4636;
    --primary-foreground: #fafafa;
    --secondary: #e6d7a3;
    --secondary-foreground: #1b1b1e;
    --muted: #f2efeb;
    --muted-foreground: #767676;
    --accent: #e6d7a3;
    --accent-foreground: #1b1b1e;
    --destructive: #EC4636;
    --destructive-foreground: #fafafa;
    --border: #e6e0dc;
    --shadow: #e6e0dc;
    --input: #e6e0dc;
    --ring: #EC4636;
    --radius: 0.5rem;

    /* Chart Colors */
    --chart-1: #EC4636;
    --chart-2: #007bff;
    --chart-3: #6a0dad;
    --chart-4: #d63384;
    --chart-5: #ffc107;
  }

  .dark {
    --background: #191919;
    --foreground: #fafafa;
    --card: #191919;
    --card-foreground: #fafafa;
    --popover: #191919;
    --popover-foreground: #fafafa;
    --primary: #0077b6;
    --primary-foreground: #fafafa;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #EC4636;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --shadow: #262626;
    --input: #262626;
    --ring: #0077b6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes loadingAnimation {
  0% { width: 0; opacity: 0; }
  50% { width: 100%; opacity: 1; }
  100% { width: 0; opacity: 0; }
}

.loading-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: loadingAnimation 5s linear infinite;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #efcdcb, #ef857b);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ef857b, #ef857b);
}

/* Scrollbar styles for dark mode */
.dark ::-webkit-scrollbar-track {
  background: var(--background);
}

.dark ::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #01263b, #015a8a);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #015a8a, #015a8a);
}