@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 5 83% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 39 33% 89%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 30 6% 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 39 33% 89%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 6% 90%;
    --input: 30 6% 90%;
    --ring: 5 83% 57%;
    --radius: 0.5rem;

    /* Chart Colors */
    --chart-1: 5 83% 57%;
    --chart-2: 199 91% 56%;
    --chart-3: 262 83% 58%;
    --chart-4: 316 70% 50%;
    --chart-5: 47 95% 57%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 5 83% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 5 83% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

